.oswald{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

title {
    font-family: "Oswald";
}

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

body {
    background-color: #343a40; /* Darker background */
    color: #f8f9fa;
    font-family: "JetBrains Mono", monospace;
}

.form-control-range {
    margin-top: 10px;
}

.range-labels {
  padding-top: 0px;
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.range-labels span {
  font-size: 12px;
}

.upload-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
    margin-top: 10px;
}

.processed-image-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 8px 8px;
}

img {
    max-width: 30vw;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    transition: ease 0.5s;
    background-color: #FFFFFF;
}

img:hover {
    scale: 1.02;
}

.thumbnail {
  max-height: 80px;
  width: auto;
  border-radius: 5px;
  background-color: rgba(45, 35, 66, 0);
  box-shadow: 0 0 0;
  box-sizing: border-box;
}



.button-29, input::file-selector-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus, input::file-selector-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover, input::file-selector-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active, input::file-selector-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}